@use "variables" as *;

.logo {
    display: block;
    width: vw(138);
    aspect-ratio: 118 / 11.93;
    background-color: currentColor;
    -webkit-mask: url("/icons/logo.svg") no-repeat center / contain;
    mask: url("/icons/logo.svg") no-repeat center / contain;

    @include mobile {
        width: mvw(94.6);
    }
}

.icon-instagram {
    @include icon-mask("/icons/instagram.svg", s(18), s(18));
    transition: opacity 0.35s ease;

    &:hover {
        opacity: 0.5;
    }
}

.icon-arrow {
    @include icon-mask("/icons/arrow.svg", s(14), s(14));
}

.icon-arrow-left {
    @include icon-mask("/icons/arrow.svg", s(14), s(14));
    transform: rotate(180deg);
}

.icon-chevron {
    @include icon-mask("/icons/chevron.svg", s(8), s(13));
}

.icon-chevron-left {
    @include icon-mask("/icons/chevron.svg", s(8), s(13));
    transform: rotate(180deg);
}

.icon-arrow-down {
    @include icon-mask("/icons/arrow-down.svg", s(14), s(14));
}

.icon-arrow-diagonal {
    @include icon-mask("/icons/arrow-diagonal.svg", s(11), s(11));
}

.icon-play {
    @include icon-mask("/icons/play.svg", s(10), s(12));
}

.icon-close {
    @include icon-mask("/icons/close.svg", s(10), s(10));
}
