---
import SplitContent from "@/components/blocks/SplitContent.astro"
import { TeamCarousel } from "@/components/sections/TeamCarousel.jsx"

const { heading, body, members } = Astro.props
---

<SplitContent heading={heading} body={body} spacers={3} measure="measure-634" />
<section class="page fade--up" data-scroll>
    <TeamCarousel client:load members={members} />
</section>
