---
import BgImage from "@/components/media/BgImage.astro"

const { block } = Astro.props
---

<section class="flex flex-col gap-20" data-img-section>
    <div class="pos-rel w-100 max-1336 ma ratio-hero overflow block-centered"><BgImage image={block.image} sizes="(max-width: 768px) 77vw, 78vw" /></div>
    {block.caption && <p class="small text-center balance">{block.caption}</p>}
</section>
