---
import BgImage from "@/components/media/BgImage.astro"

const { block } = Astro.props
---

<section class="pos-rel h-100vh overflow block-banner" data-parallax data-img-section data-dark><BgImage image={block.image} sizes="100vw" /></section>
