---
import BgImage from "@/components/media/BgImage.astro"

const { block } = Astro.props
---

<section class="flex flex-col gap-20" data-img-section>
    <div class="pos-rel w-100 max-700 ma ratio-portrait overflow block-portrait"><BgImage image={block.image} sizes="(max-width: 768px) 65vw, 45vw" /></div>
    {block.caption && <p class="small text-center balance">{block.caption}</p>}
</section>
